
.theme-light {
    --basic-fg: rgb(48, 48, 48);
    --basic-bg: rgb(255, 255, 255);
    --basic-bg-light: rgba(255, 255, 255, 0.75);
    --basic-color-fg: rgb(61, 224, 153);
    --basic-color-hover-fg: rgb(63, 174, 126);
    --basic-border-color: rgba(128, 128, 128, 0.516);

    --subtitle-text: rgba(80, 80, 80, 0.7);

    /* Navigation Panel */
    --nav-border-color: rgba(128, 128, 128, 0.5);
    --nav-item-bg: rgba(89, 255, 183, 0.2);
    --nav-item-hover-bg: rgba(63, 190, 135, 0.36);
    --nav-item-fg: rgb(69, 100, 95);

    /* TEST LIST */
    --test-item-bg: white;
    --test-item-mark-color: rgb(242, 154, 46);
    --test-item-mark-success-color: rgb(165, 234, 81);
    --test-item-separator-color: rgba(146, 146, 146, 0.5);
    --test-item-sign-fg: gray;
    --test-item-meta-fg: rgb(253, 179, 109);
    --test-item-meta-size: 1.1rem;

    /* Colours */
    --required-color: rgb(255, 120, 120);
    
    transition: all var(--duration-color) ease !important;
}
