@import url(./themes/index.css);
@import url(./components/index.css);

/* Главные переменные */
:root {
    --scrollbar-width: 8px;
    --thumb-bg: gray;
    --thumb-radius: 2px;
    --thumb-hover-bg: rgb(92, 92, 92);
    --track-bg: rgb(211, 211, 211);
}

/* Ширина и цвет полосы скроллбара */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Цвет заполнения полосы скроллбара */
::-webkit-scrollbar-thumb {
    background-color: var(--thumb-bg) !important;
    border-radius: var(--thumb-radius) !important;
}

/* Стиль и цвет фона при наведении курсора */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--thumb-hover-bg) !important;
    cursor: pointer;
}

/* Стиль и цвет трека (фон вокруг скроллбара) */
::-webkit-scrollbar-track {
    background-color: var(--track-bg) !important;
}

